<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="utf-8">
        <link rel="icon" href="img/icon.ico">
        <meta content="width=device-width,initial-scale=1.0" name="viewport">
        <meta content="description" name="In this tutorial, we take a look at a beautiful parallax scrolling effect in the simplest of ways, with stationary backgrounds and scrolling content.">
        
        <title>DigitalERP</title>
        
        <!-- css -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab">
        <link rel="stylesheet" href="css/bootstrap-3.3.7-dist/css/base.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap-3.3.7-dist/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap-3.3.7-dist/css/bootstrap.overide.css">

        <!-- js -->


 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>     
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>


        <script src="css/bootstrap-3.3.7-dist/js/jquery.min.js"></script>
        <script type="text/javascript" src="css/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
        <script src="css/bootstrap-3.3.7-dist/js/modernizr.js"></script>
        <script src="js/script.js"></script>
        <script src="js/client.js"></script>

</head>

<body ng-app="mainApp" ng-controller="IndexCtl">
    <nav id="header" class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-logo" href="index.html"> <img src="img/logo.jpg"> </a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">

            <!-- When a link in the menu is clicked, we set the active variable -->
        <ul class="nav navbar-nav">
            <li><a href="#" class="home" ng-click="home()">Home</a></li>
    
            <li><a href="#" class="about" ng-click="about()">About</a></li>
            <li><a href="#" class="contact" ng-click="services()">Contact</a></li>
    <!--        
                <li class="active" ng-click="home()">Home</li>
                <li><a href="#about" ng-click="title = 'About us'">About us</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">Services
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#erp-implementation">ERP Implementation</a></li>
                        <li><a href="#website">Website / E-Commerce</a></li>
                        <li><a href="#seo">SEO</a></li>
                        <li><a href="#digital-marketing">Digital Marketing</a></li>
                    </ul>
                </li> -->
                <!-- <li><a href="team.html">Team</a></li> -->
                <!-- <li><a href="contact.html">Contact us</a></li> -->
        </ul>
        </div>
    </nav>

        <div ng-view></div>

</body>

</html>