<div class="wrapper">

  <main class="content">

      <section class="module content">
        <div class="container"><br><br>
          <p>India is a leading software service provider, but domestic software usage is limited. With lack of dependable manpower, and tedious government regulations, doing business has become boring. We aim to deliver quality softwares at reasonable prices, and make doing business enjoyable again!<br>
          We have a team of young and dynamic professionals who understand the business processes and provide cost effective, world class solutions for your business within specified timeframe.</p>
        </div>
      </section>
      
      <section class="module content">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <img src="../img/odoo-silver-partner-rgb.png" alt="Odoo Silver Partner" class="Image"> 
            </div>
            <div class="col-sm-8">
              <p>We are a Silver partner for ODOO. ODOO is a suit of open core entreprise management software meant for companies of all sizes. We also offer services for custom software development, SEO, mobile application development, website development, etc.</p>
            </div>
          </div>
        </div>
      </section>

      <section class="module content">
        <div class="container">
          <h2 align="center">History</h2>
          <div class="row">
            <p>We are an established business group of central India in business for the past 25 years. We have interest in the fields of Trading, Manufacturing and Construction, in addition to Software. We have in-depth exposure to various business processes. We are an ISO 9000-2008 accredited company. We are partners with some of the strongest global brands in various industries.</p>
          </div>
          <div class="clear"></div>
          <div class="logos-container">
            <div class="row">
              <div class="col-sm-3">
                <img src="../img/fluke-logo.jpg" class="img-rounded" width="120px" height="100px">
              </div>
              <div class="col-sm-3">
                <img src="../img/abb-logo.jpg" class="img-rounded" width="120px" height="100px">
              </div>
              <div class="col-sm-2">
                <img src="../img/accent-logo.jpg" class="img-rounded" width="120px" height="100px">
              </div>
              <div class="col-sm-2">
                <img src="../img/gems-logo.png" class="img-rounded" width="120px" height="100px">
              </div>
              <div class="col-sm-2">
                <img src="../img/setra-logo.png" class="img-rounded" width="120px" height="100px">
              </div>
            </div>
          </div>
        </div>        
      </section>

  </main>
</div><!-- /#wrapper -->

  