<div class="wrapper">

    <section class="parallax-service-digital-marketing "></section>

    <section class="module content">
      <div class="container">

        <div class="row">
          <h2 align="center">Digital Marketing / SEO</h2>
          <div class="clear"></div>
            <div class="row">
              <div class="col-sm-4">
                <img src="img/service-digital-marketing.png">
              </div>
              <div class="col-sm-8">
                <div class="row">
                  Our services include:
                  <ul>
                    <li>SEO</li>
                    <li>Mass Mailing</li>
                    <li>SMO</li>
                  </ul>
                </div>
              </div>
            </div>
        </div>



    </section>

    </div><!-- /#wrapper -->

