<div class="wrapper">

    <section class="parallax-service-ecommerce"></section>

    <section class="module content">
      <div class="container">
        <div class="row">
          <h2 align="center">E-Commerce</h2>
          <div class="clear"></div>
            <div class="row">
              <div class="col-sm-4">
                <img src="img/ecommerce.jpg">
              </div>
              <div class="col-sm-8">
                For a successful ecommerce business, the first and foremost step is to choose the right ecommerce development company which can provide state of the art solutions.  We can design and offer a solution with best and latest technologies. 
              </div>
            </div>
        </div>

        <div class="service-content">
          <div class="row">
            <p>You would have the option to add products, add product attributes such as color, size, or style to keep product lines easy to navigate.You can define product categories, use attribute search, focus on promotions, coupons or gift certificates and push best products to the top of your page in order to multiply your sales.The platform would recommended products ,if one product is selected or offer additional discount for volume.</p>
            <p>The portal can be totally integrated with your inventory and invoicing. The available quantities can get get adjusted if an order is received.  </p>
          </div>
        </div>

      </div>

      <div class="container">
        <div class="row">
          <h3 align="center"><b>Our Technologies<b></h3>
          <div class="clear"></div>
          <div class="row">
            <div class="col-sm-4">
              <img src="img/odoo-banner.png" class="img-circle" width="204" height="136">
            </div>
            <div class="col-sm-4">
              <img src="img/website-nodejs.png" class="img-circle" width="204" height="136">
            </div>
            <div class="col-sm-4">
              <img src="img/website-python.png" class="img-circle" width="204" height="136">
            </div>
          </div>

          <div class="clear"></div>
          <div class="row">
            <div class="col-sm-4">
              <img src="img/website-html-css.png" class="img-rounded" width="204" height="136">
            </div>
            <div class="col-sm-4">
              <img src="img/website-angularjs.png" class="img-circle" width="204" height="136">
            </div>
            <div class="col-sm-4">
              <img src="img/website-java.png" class="img-circle" width="204" height="136">
            </div>
          </div>
        </div>
      </div>

    </section>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82674229-1', 'auto');
  ga('send', 'pageview');

</script>
    </div><!-- /#wrapper
 -->
