<div class="wrapper">

  <main class="content">

    <section class="parallax-service-integration"></section>

    <section class="module content">
      <div class="container">
        
        <div class="row">
          <h2 align="center">ERP Implementation</h2>
          <div class="clear"></div>
          
          <div class = "row">
            <div class="col-sm-4">
              <div class="row">
                  <img src="https://www.odoo.com/openerp_website/static/src/img/assets/png/odoo_logo_plain.png" alt="Odoo Logo" class="Image">  
              </div> 
            </div>

            <div class="col-sm-8">
              Odoo is the world's easiest all-in-one management software. It includes  hundreds of integrated business apps: CRM, Accounting, Inventory, Marketing, eCommerce, Project Management, HR, MRP, etc.
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <h2 align="center">Odoo Services we offer</h2>
        </div>
        <ul>
          <li>
            <div class="row">
              <h3>Packaged Installation : </h3>The package approach is an implementation  mode that is low cost, generic, with few developments to be done.  This  approach shall be useful for the small and medium enterprises where most of the applications and report requirement are met by the Odoo Apps.  
            </div>
          </li>
          <li>
            <div class="row">
              <h3>Custom Approach : </h3>This custom approach is an implementation mode which is used when the client’s business is weakly covered by Odoo generic. This approach goes from customer’s needs analysis, to Odoo solution.   
            </div>
          </li>
          <li>
            <div class="row">
              <h3>Odoo Training : </h3>We provide training to your staff to make the most out of your odoo implementation.
            </div>
          </li>
          <li>
            <div class="row">
              <h3>Data Migration : </h3>We ensure your data is transfered to your new ODOO system in the easiest way possible.
            </div>
          </li>
        </ul>
      </div>

      <div class="container">
        <div class="row">
          <h2>Implementation Process</h2>
        </div>
        <ol>
          <li>
            <div class="row">
              Evaluate :- This is the pre-analysis study to understand the application, nature of business and the deployment target. 
            </div>
          </li>
          <li>
            <div class="row">
              Define the scope and Specifications:- This  involves a detailed analysis and documentation of the entire business process. Broadly the scope of work and applications are defined. The level of customization if decided.  
            </div>
          </li>
          <li>
            <div class="row">
              Planning : The Planning for the deployment of the packing with respect to the given timeline is done.
            </div>
          </li>
          <li>
            <div class="row">
              Configuration : - The system configuration and Development is undertaken.
            </div>
          </li>
          <li>
            <div class="row">
              Data Migration : - The Data Migration through CSV or XML files is planned.
            </div>
          </li>
          <li>
            <div class="row">
              Installation and Training : - The training is imparted to the users. 
            </div>
          </li>
        </ol>
      </div>

      <div class="container">
        <div class="row">
          <h2>Odoo Apps</h2>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="container-odoo-service">
              <div class="row">
                <span>Sales</span>
              </div>
              <div class="row">
                <img src="img/odoo-sales.jpg">
              </div>
              <div class="row">
                -Sell more with clean quotations.<br>
                -Professionally showcase your products and services.<br>
                -Automate operations and focus on customer relationships and revenue.<br>
                -Give portal access to customers.<br>
                -Set special price lists.<br>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="container-odoo-service">
              <div class="row">
                <span>Accounts</span>
              </div>
              <div class="row">
                <img src="img/odoo-accounts.jpg">
              </div>
              <div class="row">
                -Sell more with clean quotations.<br>
                -Professionally showcase your products and services.<br>
                -Automate operations and focus on customer relationships and revenue.<br>
                -Give portal access to customers.<br>
                -Set special price lists.<br>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="container-odoo-service">
              <div class="row">
                <span>Inventory</span>
              </div>
              <div class="row">
                <img src="img/odoo-inventory.jpg">
              </div>
              <div class="row" align="left">
                -Sell more with clean quotations.<br>
                -Professionally showcase your products and services.<br>
                -Automate operations and focus on customer relationships and revenue.<br>
                -Give portal access to customers.<br>
                -Set special price lists.<br>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <h3 align="center">Fully <b>integrated</b> with Odoo Apps</h3>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="container-odoo-service">
              <div class="row">
                <span>E-Commerce</span>
              </div>
              <div class="row">
                <img src="img/odoo-ecommerce.jpg">
              </div>
              <div class="row">
                -Sell more with clean quotations.<br>
                -Professionally showcase your products and services.<br>
                -Automate operations and focus on customer relationships and revenue.<br>
                -Give portal access to customers.<br>
                -Set special price lists.<br>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="container-odoo-service">
              <div class="row">
                <span>Manufacturing</span>
              </div>
              <div class="row">
                <img src="img/odoo-manufacturing.jpg">
              </div>
              <div class="row">
                -Sell more with clean quotations.<br>
                -Professionally showcase your products and services.<br>
                -Automate operations and focus on customer relationships and revenue.<br>
                -Give portal access to customers.<br>
                -Set special price lists.<br>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="container-odoo-service">
              <div class="row">
                <span>Mobile</span>
              </div>
              <div class="row">
                <img src="img/odoo-mobile.jpg">
              </div>
              <div class="row">
                -Sell more with clean quotations.<br>
                -Professionally showcase your products and services.<br>
                -Automate operations and focus on customer relationships and revenue.<br>
                -Give portal access to customers.<br>
                -Set special price lists.<br>
              </div>
            </div>
          </div>
        <div class="row">
          <h3 align="center">And Many More.......</h3>
        </div>

        </div>

    </section>

    </div><!-- /#wrapper -->

