<div class="wrapper">

    <section class="parallax-service-mobile-development"></section>

    <section class="module content">

      <div class="container">
        <div class="row">
          <h2 align="center">Mobile Development</h2>
          <div class="clear"></div>
            <div class="row">
              <div class="col-sm-4">
                <img src="img/service-mobile-development.jpg">
              </div>
              <div class="col-sm-8">
                Everybody has a smart phone & mobile apps are essential for business growth. We offer Mobile app development services with phonegap technology so your app works for all operating system including android, iphone or windows. 
              </div>
            </div>
        </div>

        <div class="service-content">
          <div class="row">
            <p>Our mobile app developers are  creative and knowledgeable  to accomplish your individual &  business needs. With advanced tools and technology, we create highly customized mobile applications.   </p>
          </div>
        </div>

      </div>

      <div class="container">
        <div class="row">
          <h3 align="center">Our Technologies</h3>
          <div class="clear"></div>
            <div class="row">
              
              <div class="col-sm-4">
                <img src="img/mobile-ios.jpg" class="img-rounded" width="250" height="160">
              </div>
              <div class="col-sm-4">
                <img src="img/mobile-android.png" class="img-rounded" width="250" height="180">
              </div>
              <div class="col-sm-4">
                <img src="img/mobile-phonegap.jpg" class="img-rounded" width="250" height="160">
              </div>
            </div>
        </div>
      </div>

    </section>
    </div><!-- /#wrapper -->

