<div class="wrapper">

    <section class="parallax-service-ecommerce"></section>

    <section class="module content">
      <div class="container">
        <div class="row">
          <h2 align="center">E-Commerce Website</h2>
          <div class="clear"></div>
            <div class="row">
              <div class="col-sm-4">
                <img src="img/service-ecommerce.jpg">
              </div>
              <div class="col-sm-8">
                content
              </div>
            </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <h3 align="center">Our Technologies</h3>
          <div class="clear"></div>
          <div class="row">
            <div class="col-sm-4">
              <img src="img/odoo-banner.png" class="img-circle" width="204" height="136">
            </div>
            <div class="col-sm-4">
              <img src="img/website-nodejs.png" class="img-circle" width="204" height="136">
            </div>
            <div class="col-sm-4">
              <img src="img/website-python.png" class="img-circle" width="204" height="136">
            </div>
          </div>

          <div class="clear"></div>
          <div class="row">
            <div class="col-sm-4">
              <img src="img/website-html-css.png" class="img-rounded" width="204" height="136">
            </div>
            <div class="col-sm-4">
              <img src="img/website-angularjs.png" class="img-circle" width="204" height="136">
            </div>
            <div class="col-sm-4">
              <img src="img/website-java.png" class="img-circle" width="204" height="136">
            </div>
          </div>
        </div>
      </div>

    </section>

    </div><!-- /#wrapper -->

