<div class="wrapper">

    <section class="parallax-service-ecommerce"></section>

    <section class="module content">
      <div class="container">
        <div class="row">
          <h2 align="center">Website</h2>
          <div class="clear"></div>
            <div class="row">
              <div class="col-sm-4">
                <img src="img/service-ecommerce.jpg">
              </div>
              <div class="col-sm-8">
                Your website is your public face, whatever be your business.  Website reflects your brand and having a  unique, high quality, responsive website that will engage your viewers is important for your business.   A greatly  designed website  helps you attract more customers for your product and services. It also informs your prospective employees and investors about your strength and business principle. 
              </div>
            </div>
        </div>

        <div class="service-content">
          <div class="row">
            <p>We discuss your needs and develop a site that's not just attractive and well-functioning, but promotes your business even when you can't.</p>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <h3 align="center"><b>Our Technologies<b></h3>
          <div class="clear"></div>
          <div class="row">
            <div class="col-sm-4">
              <img src="img/odoo-banner.png" class="img-circle" width="204" height="136">
            </div>
            <div class="col-sm-4">
              <img src="img/website-nodejs.png" class="img-circle" width="204" height="136">
            </div>
            <div class="col-sm-4">
              <img src="img/website-python.png" class="img-circle" width="204" height="136">
            </div>
          </div>

          <div class="clear"></div>
          <div class="row">
            <div class="col-sm-4">
              <img src="img/website-html-css.png" class="img-rounded" width="204" height="136">
            </div>
            <div class="col-sm-4">
              <img src="img/website-angularjs.png" class="img-circle" width="204" height="136">
            </div>
            <div class="col-sm-4">
              <img src="img/website-java.png" class="img-circle" width="204" height="136">
            </div>
          </div>
        </div>
      </div>

    </section>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82674229-1', 'auto');
  ga('send', 'pageview');

</script>
    </div><!-- /#wrapper -->

